// Begin: hello-world.pug  

//- I would expect this to show the rendered head.md file, including the head.pug data, but it only shows the "content" from head.md
!= head

!=contents

p (File: hello-world.pug) This page includes the content from head.md, but not the rendered data from head.pug

// End: hello-world.pug  